
<body>
    <app-spinner></app-spinner>
    <header>
        <nav class=" menu">
    <a href="#sec1" class="">Introducción</a>
    </nav>
    <h1 class="title">Trabajo Final de Programación Concurrente y Distribuida</h1>
    <h2 class="title2"> [ LINEAR REGRESSION ] </h2>
    <h1 class="title3"> MACHINE LEARNING: APRENDIZAJE SUPERVISADO </h1>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <img class="img" src="../../../assets/img/code.svg">
   
    <a href="#sec2" class="btn-try">Probar</a>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    </header>
    <div id="sec1" class="seccion1">
        <h2 class = "title4">¿Qué es Regression Linear?</h2>
        <h2 class = "title5">El objetivo principal es predecir la variable dependiente (y) en función de los valores
            de las variables independientes (x)        </h2>
        <h2 class = "title6">El algoritmo y como actua -></h2>
        <h1 class = "title7">El Nodo Central tiene un puerto de envio que es port:9000 y escucha por el port:9004,
            se envia el MathScore. 
            El nodo 1 recibe la información por el port:9001 y envia el resultado por el port:9004 hacia el nodo central.
            El nodo 2 recibe la información por el port:9002 y envia el resultado por el port:9004 hacia el nodo central.
            El nodo 3 recibe la información por el port:9003 y envia el resultado por el port:9004 hacia el nodo central.
        </h1>
        <img class="img2" src="../../../assets/img/code2.jpeg">
    </div>
    <div id="sec2" class="seccion2">
        <div class="arreglo">
            <div class="formulario-container">
                <form action="">
                    <h2>Formulario</h2>
                    <input type="number"  placeholder="Ingrese MathScore" required [(ngModel)]="variable.Mathscore" name="Mathscore">
                    <input type="submit" value="Enviar" (click)="doFormula()">
                </form>
                
            </div>
        </div>
   
        <div class="arreglo2" *ngIf="procesado">
            <div class="respuestas">
                <h2>Respuestas</h2>
                <p>B: {{this.formula.B}}</p>
                <p>M: {{this.formula.M}}</p>
                <p>MathScore: {{this.formula.MathScore}}</p>
                <p>Ecuación: {{this.formula.Forma}}</p>
                <p>Prediccion de WritingScore: {{this.formula.PrediccionDeWritingScore}}</p>
            </div>
        </div>

        
    </div>
</body>